@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Mitr', system-ui, 'Noto Sans Thai', sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  @apply bg-tremor-background-muted text-tremor-content-strong;
}
